<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>all-users</title>
</head>

<body>
    <div class="main relative bg-zinc-900 font-poppins min-h-screen text-white">

        <div class="h-[8.2vh] w-[100vw]  relative flex justify-center items-center">
            <p class="absolute top-[2vh] left-4 ">

                <a href="/profile" class=" text-blue-500 ">
                    <i class="fa-solid fa-arrow-left text-lg"></i> </a>
            </p>
            <h1 class="text-center text-[13px]  ">
                All Users
            </h1>
        </div>

        <% users.forEach((hero)=> { %>
            <div class="h-[15vh] mt-3 pl-3 flex gap-5">
                <a href="/profile/<%= hero.username %>?from=search">
                    <img src="../images/user-images/<%= hero.profile %>"
                        class="h-[10vh] w-[10vh] object-cover object-top rounded-full">
                    <div class="flex justify-between w-[65vw]">
                        <div class="flex flex-col justify-top pt-3">
                            <p class="text-[12px]">
                                <%= hero.fullname %>
                            </p>
                            <p class="text-[12px] text-zinc-500">
                                @<%= hero.username %>
                            </p>
                        </div>
                </a>
                <% if(hero.followers.includes(user._id)) { %>
                    <div class="flex flex-col gap-1">
                        <button
                            class="bg-zinc-700 h-[5vh] px-2 rounded-md text-white mt-1 text-[10px]">following</button>
                        <form action="/unfollow/<%= hero.username %>" method="post">
                            <button
                                class="bg-transparent h-[5vh] px-2 rounded-md text-[tomato] text-[10px]">unfollow</button>
                        </form>

                    </div>
                    <% } else { %>
                        <form action="/follow/<%= hero.username %>" method="post"><button
                                class="bg-blue-500 h-[5vh] mt-3 px-2 rounded-md text-[10px] text-white">follow</button>
                        </form>
                        <% } %>
            </div>
    </div>
    <% }) %>

        <div class="filler h-[7vh] w-screen bg-zinc-900 font-poppins"></div>
        <div
            class=" footer fixed h-[7vh] flex p-3 justify-between items-center w-screen bg-zinc-900 font-poppins bottom-0">

            <a href="/feed"><i class="fa-solid fa-house text-xl"></i></a>

            <a href="/search"><i class="fa-solid fa-magnifying-glass text-xl"></i></a>

            <a href="/post"><i class="fa-solid fa-square-plus text-2xl"></i></a>

            <a href="/profile"><img src="../images/user-images/<%= user.profile %>"
                    class="h-8 w-8 rounded-full object-cover object-top"></a>

        </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                var scrollpos = localStorage.getItem('scrollpos');
                if (scrollpos) window.scrollTo(0, scrollpos);
            });

            window.onbeforeunload = function (e) {
                localStorage.setItem('scrollpos', window.scrollY);
            };
        </script>
        <script src="../javascripts/feed.js"></script>
</body>

</html>